In [1]:
#fas-정재환
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import csv
import json
import seaborn as sns
%matplotlib inline

In [2]:
#한글 폰트 적용 - 한글깨짐 방지
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False

In [16]:
# csv파일에서 20만행의 데이터 앍어오기
df = pd.read_csv('NHIS_OPEN_GJ_2017_4.csv', encoding='cp949', nrows=200000)
df = df[['신장', '체중']]
df

         신장   체중
0       170   75
1       180   80
2       165   75
3       175   80
4       165   60
...     ...  ...
199772  170  100
199773  155   45
199774  160   70
199775  170   75
199776  165   60

[199777 rows x 2 columns]

In [17]:
f = lambda x,y: x+y
f(10, 15)

25

In [18]:
f = lambda a,b: a-b
f(150, 120)

30

In [19]:
f = lambda x,y,z: x*y*z
f(150, 12, 10)

18000

In [20]:
# 비만도를 계산한 값을 새로운 컬럼에 추가한다
f= lambda x,y: (y - ((x-100)*0.9)) / ((x-100)*0.9) * 100 #신장(x), 체중(y)로 비만도 계산
df['비만도'] = f(df['신장'], df['체중'])
df

         신장   체중        비만도
0       170   75  19.047619
1       180   80  11.111111
2       165   75  28.205128
3       175   80  18.518519
4       165   60   2.564103
...     ...  ...        ...
199772  170  100  58.730159
199773  155   45  -9.090909
199774  160   70  29.629630
199775  170   75  19.047619
199776  165   60   2.564103

[199777 rows x 3 columns]

In [21]:
del df
del f